<div id="articles">
<table class="table table-striped" border=1>
  <tr><th>ID</th><th>Title</th><th>Author</th><th>Created</th>th>Publish</th><th>Action</th>
  <% @articles.each do |article| %>
  <tr id= <%= "#{article.id}"%> >
    <td> <%= "#{article.id}" %></td>
    <td> <%= "#{article.title}" %></td>
    <td> <%= "#{article.author}" %></td>
    <td> <%= "#{article.created_at}" %></td>
    <td> <%= "#{article.publish? ? 'Yes' : 'No'}" %></td>
    <td><a class="delete_article" id=<%= "delete_article_#{article.id}" %>><i class="icon-trash"></i> Delete</a>/<a class="edit_article" id=<%= "edit_article_#{article.id}" %>><i class="icon-trash"></i> Edit</a></td>
  <tr>
  <% end %>
</table>
</div>
<a class="new" href='/admin/new'><i class="icon-plus-sign"></i> Add New Article</a>