<h1>
  Beekers Blogs
</h1>
<div class="row">
<div class="col-md-3">
<ul class="list-group">
<% @articles.each do |article| %>
  <li class="blog-title list-group-item" id=<%= "list_article_#{article.id}" %>><%= article.title %></li>
<% end %>
</div>
<div class="col-md-9">
<p>
  <b id="blog-title">Title: <%= "#{@articles.last.title}"%></b>
</p>
<p id="blog-author">
by <%= "#{@articles.last.author}" %>
</p>
<p id="blog-content">
  <%=raw "#{@articles.last.content}" %>
</p>
</div>
</div>